<p>
    <a style="width: 14em;" href="{{ premium_url }}" target="_blank" class="premiumad-button">
        <span class="title">Go Premium!</span>
    </a>
</p>

<p>{{ text.__('Features of the Premium version', 'ifw') }}:</p>

<ul id="premium_features">
    <li>{{ text.__('Unlimited notification rules', 'psn') }}</li>
    <li>{{ text.__('Unlimited CC email recipients', 'psn') }}</li>
    <li>{{ text.__('Unlimited Bcc email recipients', 'psn') }}</li>
    <li>{{ text.__('SMTP server support', 'psn') }}</li>
    <li>{{ text.__('No appendix in sent emails', 'psn') }}</li>
    <li>{{ text.__('Extensive logging (matching rules, sent mails ...) with dashboard widget', 'psn') }}</li>
    <li>{{ text.__('Premium Support', 'psn') }}</li>
</ul>

<p class="ifw-keep-alive">{{ text.__('With your purchase you will keep this plugin alive. Thankyou.', 'ifw') }}</p>

<a href="{{ premium_url }}" target="_blank" class="ifw-external-link">{{ text.__('More information', 'ifw') }}</a> | <a href="{{ plugin_homepage }}" target="_blank" class="ifw-external-link">{{ text.__('Plugin homepage', 'ifw') }}</a>